<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hotel</title>

    <!-- Google Fonts - Robot-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- CSS do projeto -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<header>
    <!-- Definição da barra de navegação -->
    <nav class="navbar navbar-expand-lg fixed-top bg-stilo-nav">
        <section class="container py-3">
            <a href="#" class="navbar-brand">
                <img class="img-fluid" src="../static/assets/Logotipo.png" alt="Logo" >
            </a>
            <!-- Criação do botão para representar o menu hamburguer -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-items"
                aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>

            <!-- Definição dos links do menu -->
            <section class="collapse navbar-collapse" id="navbar-items">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#slider-container">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#mini-banners">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#featured-container">Hospedagem</a></li>
                    <li class="nav-item"><a class="nav-link" href="#footer">Contato</a></li>
                </ul>
            </section>
        </section>
    </nav>
</header>

<body>
    <!-- Definição do Slider -->
    <section class="container" id="slider-container">
        <section class="carousel slide" id="slider" data-bs-interval="2500" data-bs-ride="carousel">
            <section class="carousel-indicators">

                <!-- Criação dos botões que representam as imagens-->
                <button type="button" class="active" data-bs-target="#slider" data-bs-slide-to="0" aria-current="true"
                    aria-label="Slide 1"></button>

                <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>

                <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>

                <button type="button" data-bs-target="#slider" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </section>

            <!-- Definição do conteúdo do carrousel -->
            <section class="carousel-inner">
                <section class="carousel-item active">
                    <img src="../static/assets/hotel.jpg" alt="Imagem 1" class="d-block w-100">
                    <section class="carousel-caption">       
                        <a href="#featured-container" class="btn btn-dark">Veja mais</a>
                    </section>
                </section>

                <section class="carousel-item">
                    <img src="../static/assets/vista.jpg" alt="" class="d-block w-100">
                    <section class="carousel-caption">  
                        <a href="#featured-container" class="btn btn-dark">Veja mais</a>
                    </section>
                </section>
                <section class="carousel-item">
                    <img src="../static/assets/saguão.jpg" alt="" class="d-block w-100">
                    <section class="carousel-caption">
                        <a href="#featured-container" class="btn btn-dark">Veja mais</a>
                    </section>
                </section>

                <section class="carousel-item">
                    <img src="../static/assets/academia.jpg" alt="" class="d-block w-100">
                    <section class="carousel-caption">
                        <a href="#featured-container" class="btn btn-dark">Veja mais</a>
                    </section>
                </section>
            </section>
            

            <button type="button" class="carousel-control-prev" data-bs-target="#slider" data-bs-slide="prev">
                <i class="bi bi-chevron-left"></i>
                <span class="visually-hidden">Previous</span>
            </button>

            <button type="button" class="carousel-control-next" data-bs-target="#slider" data-bs-slide="next">
                <i class="bi bi-chevron-right"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
        <!--Mensagem-->
    <div class="container mt-3">
        {% with mensagens = get_flashed_messages(with_categories=true) %}
            {% if mensagens %}
                {% for categoria, mensagem in mensagens %}

            

                    <div class="alert alert-{{ categoria }} alert-dismissible fade show">

                        {{ mensagem }}

                        <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="fechar">
                        </button>

                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

        <!-- Criação dos cards / banners-->
        <section class="col-12 col-md-10 offset-1" id="mini-banners">
            <section class="row">

                <!-- Primeiro card -->
                <section class="col-12 col-md-3">
                    <section class="card text-center">
                        <i class="bi bi-person-fill-add"></i>
                        <section class="card-body">
                            <h5 class="card-title primary-color">Hóspede</h5>
                            <button
                                class="btn btn-dark"
                                data-bs-toggle="modal"
                                data-bs-target="#modalHospede">
                                Cadastrar
                            </button>
                        </section>
                    </section>
                </section>

                <!-- Segundo card -->
                <section class="col-12 col-md-3">
                    <section class="card text-center">
                        <i class="bi bi-person-workspace"></i>
                        <section class="card-body">
                            <h5 class="card-title primary-color">Funcionário</h5>
                            <button
                                class="btn btn-dark"
                                data-bs-toggle="modal"
                                data-bs-target="#modalFuncionario">
                                Cadastrar
                            </button>
                        </section>
                    </section>
                </section>

                <!-- Terceiro card -->
                <section class="col-12 col-md-3">
                    <section class="card text-center">
                        <i class="bi bi-pass"></i>
                        <section class="card-body">
                            <h5 class="card-title primary-color">Reserva</h5>
                            <button
                                class="btn btn-dark"
                                data-bs-toggle="modal"
                                data-bs-target="#modalReserva">
                                Check-in
                            </button>
                        </section>
                    </section>
                </section>

                <!-- Quarto card -->
                <section class="col-12 col-md-3">
                    <section class="card text-center">
                        <i class="bi bi-bar-chart-line"></i>
                        <section class="card-body">
                            <h5 class="card-title primary-color">Relatório</h5> 
                            <button class="btn btn-dark"
                                data-bs-toggle="modal"
                                data-bs-target="#modalRelatorio">
                                Gerar Relatório
                            </button>
                        </section>
                    </section>
                </section>

                <!-- Final dos cards -->
            </section>
        </section>
    </section>

    <!-- Destaques -->
    <!-- Container dos desatques -->
    <section class="container" id="featured-container">
        <section class="col-12">
            <h2 class="text-light">Hospedagem em destaque</h2>
            <p class="text-light">Descubra ambientes pensados para proporcionar descanso, conforto e bem-estar.</p>
        </section>

        <!-- Início das imagens-->
        <section class="col-12" id="featured-images">
            <section class="row g-4">

                <section class="col-12 col-md-4">
                    <img src="https://images.trvl-media.com/lodging/12000000/11610000/11601400/11601353/59a0ba11.jpg?impolicy=resizecrop&rw=1200&ra=fit" alt="" class="img-fluid">
                    <section class="banner-content">
                        <p>Categoria</p>
                        <h3>Quartos</h3>
                    </section>
                </section>

                <section class="col-12 col-md-4">
                    <img src="https://images.trvl-media.com/lodging/12000000/11610000/11601400/11601353/2c79a3f0.jpg?impolicy=resizecrop&rw=1200&ra=fit" alt="" class="img-fluid">
                    <section class="banner-content">
                        <p>Categoria</p>
                        <h3>Área de lazer</h3>
                    </section>
                </section>

                <section class="col-12 col-md-4">
                    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/24962361.jpg?k=23d158c1c582eaab393c6ed95e67a0036f25d3356cfbc693a06d726e521b8176&o=" alt="" class="img-fluid">
                    <section class="banner-content">
                        <p>Categoria</p>
                        <h3>Saguão</h3>
                    </section>
                </section>

                <section class="col-12 col-md-4">
                    <img src="https://images.trvl-media.com/lodging/12000000/11610000/11601400/11601353/c985f378.jpg?impolicy=resizecrop&rw=1200&ra=fit" alt="" class="img-fluid">
                    <section class="banner-content">
                        <p>Categoria</p>
                        <h3>Suíte</h3>
                    </section>
                </section>

                <section class="col-12 col-md-4">
                    <img src="https://images.trvl-media.com/lodging/12000000/11610000/11601400/11601353/db3eee55.jpg?impolicy=resizecrop&rw=1200&ra=fit" alt="" class="img-fluid">
                    <section class="banner-content">
                        <p>Categoria</p>
                        <h3>Área KIDS</h3>
                    </section>
                </section>

                <section class="col-12 col-md-4">
                    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/653442675.jpg?k=2525cc872f8025cd12fdd99a5b8d1c3d7abb921309802109e7bfbb024dfccadb&o=" alt="" class="img-fluid">
                    <section class="banner-content">
                        <p>Categoria</p>
                        <h3>Academia</h3>
                    </section>
                </section>

                <section class="col-12 col-md-4">
                    <img src="https://images.trvl-media.com/lodging/12000000/11610000/11601400/11601353/41c1414d.jpg?impolicy=resizecrop&rw=1200&ra=fit" alt="" class="img-fluid">
                    <section class="banner-content">
                        <p>Categoria</p>
                        <h3>Vista do Quarto</h3>
                    </section>
                </section>

                <section class="col-12 col-md-4">
                    <img src="https://images.trvl-media.com/lodging/12000000/11610000/11601400/11601353/da96a9fd.jpg?impolicy=resizecrop&rw=1200&ra=fit" alt="" class="img-fluid">
                    <section class="banner-content">
                        <p>Categoria</p>
                        <h3>Café da manhã</h3>
                    </section>
                </section>

                <section class="col-12 col-md-4">
                    <img src="https://images.trvl-media.com/lodging/12000000/11610000/11601400/11601353/824da659.jpg?impolicy=resizecrop&rw=1200&ra=fit" alt="" class="img-fluid">
                    <section class="banner-content">
                        <p>Categoria</p>
                        <h3>Restaurante</h3>
                    </section>
                </section>


            </section>
        </section>
    </section>
    <!-- Fim do container destaques -->

        <!-- Nesta seção, iremos utilizar a adoção dos modais do Bootstrap -->
        <section class="col-12 col-md-4">
            <img src="images/modal.png" alt="" class="img-fluid">
        </section>


        <!-- Fim do container Informações -->
    </section>

    <!-- Modal Cadastro de Hóspede -->
    <div class="modal fade" id="modalHospede" tabindex="-1" aria-labelledby="modalHospedeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="/cadastrar_hospede" method="POST">

                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalHospedeLabel">
                        Cadastro de Hóspede
                    </h5>

                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input
                            type="text"
                            class="form-control"
                            name="nome"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">CPF</label>
                        <input
                            type="text"
                            class="form-control"
                            name="cpf"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Telefone</label>
                        <input
                            type="text"
                            class="form-control"
                            name="telefone"
                            required>
                    </div>

                </div>

                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Cancelar
                    </button>

                    <button
                        type="submit"
                        class="btn btn-primary">
                        Cadastrar
                    </button>

                </div>

            </form>

        </div>
    </div>
</div>

    <!--Fim modal Hospede-->

    <!-- Modal Cadastro Funcionario -->
    <div class="modal fade" id="modalFuncionario" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">
                    Cadastro de Funcionário
                </h5>

                <button class="btn-close btn-close-white"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <form action="/cadastrar_funcionario" method="POST">

            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text"
                           name="nome"
                           class="form-control"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">CPF</label>
                    <input type="text"
                           class="form-control"
                           name="cpf"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefone</label>
                    <input type="text"
                           class="form-control"
                           name="telefone"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Cargo</label>
                    <input type="text"
                        class="form-control"
                        name="cargo"
                        required>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>

                <button 
                    type="submit"
                    class="btn btn-primary">
                    Cadastrar
                </button>
            </div>

            </form>
        </div>
    </div>
    </div>
    <!--Fim modal Funcionario-->

    <!-- Modal realizar Reserva -->
    <div class="modal fade" id="modalReserva" tabindex="-1" aria-labelledby="modalReservaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="/realizar_reserva" method="POST">

                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalReservaLabel">
                        Realizar Reserva
                    </h5>

                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <div class="mb-3">
                        <label class="form-label">CPF</label>
                        <input
                            type="text"
                            class="form-control"
                            name="cpf"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Numero do Quarto: </label>
                        <input
                            type="number"
                            class="form-control"
                            name="quarto"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Dias da Estadia:  </label>
                        <input
                            type="number"
                            class="form-control"
                            name="dias"
                            required>
                    </div>

                </div>

                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Cancelar
                    </button>

                    <button
                        type="submit"
                        class="btn btn-primary">
                        Cadastrar
                    </button>

                </div>

            </form>

        </div>
    </div>
</div>

    <!-- final modal realizar reserva-->

    <!--modal Exibir reserva-->

    <div class="modal fade" id="modalRelatorio" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Relatório do Hotel</h5>
                <button class="btn-close btn-close-white"
                        data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <p><b>Hóspedes:</b> {{ total_hospedes }}</p>

                <p><b>Funcionários:</b> {{ total_funcionarios }}</p>

                <p><b>Quartos disponíveis:</b> {{ quartos_disponiveis }}</p>

                <p><b>Quartos ocupados:</b> {{ quartos_ocupados }}</p>

                <p><b>Reservas:</b> {{ total_reservas }}</p>

            </div>

        </div>
    </div>
</div>

<h1>{{ total_hospedes }}</h1>
    </section>

    <!--final modal Exibir reserva-->


    <!-- FOOTER -->
    <!-- Informações -->
      

    <footer class="container-fluid bg-dark" id="footer">
       <section class="container">
        <section class="col-12">
            <h2 class="title info">Contato</h2>
            <p class="subtitle-secondary-color">Conheça nossos destaques</p>
        </section>
       

                <section class="row">
                    <!-- FOOTER TOP -->
                    <section class="col-12" id="footer-top">
                        <section class="row justify-content-between">
                            <section class="col-4">
                            </section>
                            

                            <section class="col-4" id="social-icons">
                                <i class="bi bi-facebook"></i>
                                <i class="bi bi-instagram"></i>
                                <i class="bi bi-youtube"></i>
                                <i class="bi bi-twitter"></i>
                            </section>

                        </section>
                    </section>
                </section>
                </section>
                </footer>




                <!-- Bootstrap JS-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous" defer></script>
</body>

</html>